.document > .rst-versions {
    position: absolute;
    width: 16em;
    background: #2D2D2D;
    border-top: 0;
}

.rst-versions a {
    color: #444444;
    border-bottom:0;
}

.rst-versions .rst-current-version {
    background-color: #2D2D2D;
}

.rst-versions.shift .rst-other-versions {
    display: block;
    background: #E5E5E5;
}

.rst-versions .rst-other-versions dd a {
    display: inline-block;
    padding: 6px;
}

.rst-versions.rst-badge.shift .rst-current-version {
    text-align: right
}

.rst-versions.rst-badge.shift .rst-current-version .icon-book {
    float: left
}

.rst-versions dl, .rst-versions dt {
    font-style: normal;
}

